.employ a {
    text-decoration: none;
}
.employ .bold {
    font-weight: 700;
}
.employ .purple {
    color: #7b49b9;
}
.employ .coral {
    color: #da5c5f;
}

.employ .container {
    max-width: 1200px;
    margin: 0 auto;
}
.employ .title {
    display: grid;
    align-items: center;
    justify-items: center;
    position: relative;
}
.employ .title img {
    width: 100%;
}
.employ .title p {
    position: absolute;
    top: 40%;
    text-align: center;
    color: #fff;
    font-size: 35px;
}
.employ .content1,
.employ .content2,
.employ .content3,
.employ .content4 {
    display: grid;
    grid-template-columns: 1fr 1fr;
}
.employ .body_content6 {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    column-gap: 20px;
}
.employ .content1 {
    margin-top: 200px;
}
.employ .content2,
.employ .content3,
.employ .content4 {
    margin-top: 80px;
    margin-bottom: 80px;
}
.employ .title_content1,
.employ .title_content2,
.employ .title_content3,
.employ .title_content4 {
    padding: 35px 0 20px;
    font-size: 35px;
}
.employ .desc_content1,
.employ .desc_content2,
.employ .desc_content3,
.employ .desc_content4 {
    font-size: 20px;
    font-weight: 300;
}
.employ .content2_right,
.employ .content4_right {
    display: grid;
    justify-content: end;
}
.employ .content5 {
    height: 120px;
    line-height: 120px;
    text-align: center;
    background: #f8f8f8;
    font-size: 22px;
    font-weight: 300;
}
.employ .content6 {
    margin-top: 120px;
}
.employ .title_content6 {
    display: inline;
    border-bottom: 2px solid #333;
    font-size: 25px;
    margin-bottom: 50px;
}
.employ .body_content6 {
    margin-top: 40px;
}
.employ .line2 {
    font-size: 15px;
    font-weight: bold;
}
.employ .line3,
.employ .line4 {
    font-size: 12px;
}
.employ .line4 span {
    background-color: #333333;
    color: white;
    padding: 10px 20px;
    margin-top: 10px;
}
.employ .line1 img {
    width: 100%;
}
.employ .line1 {
    margin-bottom: 10px;
}
.employ .line2 {
    margin-bottom: 50px;
}
.employ .line3 {
    margin-bottom: 20px;
}
.employ .line3 span:nth-child(2) {
    margin: 0 20px;
    color: #777;
}
.employ .line3 i {
    margin-right: 5px;
}
.employ .line3 span:nth-child(3) {
    color: #777;
}

@media only screen and (max-width: 1024px) and (min-width: 360px) {
    .employ .container {
        width: 90%;
    }
    .employ .content1_left img,
    .employ .content2_right img,
    .employ .content3_left img,
    .employ .content4_right img {
        width: 100%;
    }
    .employ .content5 {
        height: auto;
        line-height: 1.6em;
        padding: 20px;
        text-align: left;
        word-break: keep-all;
        font-size: 20px;
    }
    .employ .title_content6 {
        font-size: 20px;
    }
}
/* -----------------mobile---------------------- */

@media only screen and (max-width: 600px) and (min-width: 360px) {
    .employ .title {
        overflow: hidden;
    }
    .employ .title img {
        height: 200px;
        width: auto;
    }
    .employ .title p {
        font-size: 25px;
    }
    .employ .title_content1,
    .employ .title_content2,
    .employ .title_content3,
    .employ .title_content4 {
        padding: 10px 0 20px;
    }
    .employ .content1,
    .employ .content2,
    .employ .content3,
    .employ .content4 {
        grid-template-columns: 1fr;
        grid-row-gap: 10px;
    }
    .employ .body_content6 {
        grid-template-columns: 1fr;
    }

    .employ .title_content1,
    .employ .title_content2,
    .employ .title_content3,
    .employ .title_content4 {
        font-size: 25px;
    }
    .employ .desc_content1,
    .employ .desc_content2,
    .employ .desc_content3,
    .employ .desc_content4 {
        font-size: 16px;
    }
    .employ .content1_right,
    .employ .content3_right {
        grid-column-start: 1;
        grid-row-start: 1;
    }
    .employ .body_content6 {
        row-gap: 40px;
    }
}
/* -----galaxy------ */
@media only screen and (max-width: 360px) {
}
/* ---ip6,7,8------- */
@media only screen and (max-width: 375px) and (min-width: 361px) {
}
/* ---ip6,7,8 plus------- */
@media only screen and (max-width: 414px) and (min-width: 376px) {
}
/* ---nokia N9------- */
@media only screen and (max-width: 480px) and (min-width: 415px) {
}
/* ---nexus 7------- */
@media only screen and (max-width: 600px) and (min-width: 481px) {
}
/* ---ipad ------- */
@media only screen and (max-width: 768px) and (min-width: 601px) {
    .employ .content1,
    .employ .content2,
    .employ .content3,
    .employ .content4 {
        column-gap: 70px;
    }
    .employ .title_content1,
    .employ .title_content2,
    .employ .title_content3,
    .employ .title_content4 {
        font-size: 20px;
    }
    .employ .desc_content1,
    .employ .desc_content2,
    .employ .desc_content3,
    .employ .desc_content4 {
        font-size: 16px;
    }
}
/* ---ipad pro------- */
@media only screen and (max-width: 1024px) and (min-width: 769px) {
    .employ .content1,
    .employ .content2,
    .employ .content3,
    .employ .content4 {
        column-gap: 70px;
    }
    .employ .title_content1,
    .employ .title_content2,
    .employ .title_content3,
    .employ .title_content4 {
        font-size: 20px;
    }
    .employ .desc_content1,
    .employ .desc_content2,
    .employ .desc_content3,
    .employ .desc_content4 {
        font-size: 16px;
    }
}
