#oversea a {
  text-decoration: none;
}

#oversea .bold {
  font-weight: 700;
}

#oversea .purple {
  color: #7b49b9;
}

#oversea .coral {
  color: #da5c5f;
}

#oversea .container {
  max-width: 1200px;
  margin: 0 auto;
}

#oversea .title {
  display: grid;
  align-items: center;
  justify-items: center;
  position: relative;
}

#oversea .title img {
  width: 100%;
}

#oversea .title p {
  position: absolute;
  top: 40%;
  text-align: center;
  color: #fff;
  font-size: 35px;
}
#oversea .body_content1 {
  display: grid;
  justify-items: center;
  margin-top: 50px;
}
#oversea .content1 {
  margin-top: 60px;
}
#oversea .body_content1 img {
  width: 1024px;
  height: 614px;
}
#oversea .body_content6 {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  column-gap: 20px;
}

#oversea .content6 {
  margin-top: 120px;
}

#oversea .title_content6 {
  display: inline;
  border-bottom: 2px solid #333;
  font-size: 25px;
  margin-bottom: 50px;
}
#oversea .title_content1 {
  display: inline;
  border-bottom: 2px solid #333;
  font-size: 25px;
  margin-bottom: 50px;
}
#oversea .body_content6 {
  margin-top: 40px;
}

#oversea .line2 {
  font-size: 15px;
  font-weight: bold;
}

#oversea .line3,
#oversea .line4 {
  font-size: 12px;
}

#oversea .line4 span {
  background-color: #333333;
  color: white;
  padding: 10px 20px;
  margin-top: 10px;
}

#oversea .line1 img {
  width: 100%;
}

#oversea .line1 {
  margin-bottom: 10px;
}

#oversea .line2 {
  margin-bottom: 50px;
}

#oversea .line3 {
  margin-bottom: 20px;
}
#oversea .line3 i {
  margin-right: 5px;
}
#oversea .line3 span:nth-child(2) {
  margin: 0 20px;
  color: #777;
}

#oversea .line3 span:nth-child(3) {
  color: #777;
}

/* -----------------mobile---------------------- */
/* -----galaxy------ */
@media only screen and (max-width: 360px) {
  #oversea .container {
    max-width: 324px;
  }
  #oversea .body_content1 img {
    width: 324px;
    height: 194.4px;
  }
  #oversea .title {
    overflow: hidden;
  }

  #oversea .title img {
    height: 200px;
    width: auto;
  }

  #oversea .title p {
    font-size: 25px;
  }

  #oversea .body_content6 {
    grid-template-columns: 1fr;
  }

  #oversea .title_content6 {
    font-size: 20px;
  }
  #oversea .title_content1 {
    font-size: 20px;
  }
  #oversea .body_content6 {
    row-gap: 40px;
  }
}

/* ---ip6,7,8------- */
@media only screen and (max-width: 375px) and (min-width: 361px) {
  #oversea .container {
    max-width: 337.5px;
  }

  #oversea .title {
    overflow: hidden;
  }
  #oversea .body_content1 img {
    width: 337.5px;
    height: 202.5px;
  }
  #oversea .title img {
    height: 200px;
    width: auto;
  }

  #oversea .title p {
    font-size: 25px;
  }
  #oversea .body_content6 {
    grid-template-columns: 1fr;
  }

  #oversea .title_content6 {
    font-size: 20px;
  }
  #oversea .title_content1 {
    font-size: 20px;
  }
  #oversea .body_content6 {
    row-gap: 40px;
  }
}

/* ---ip6,7,8 plus------- */
@media only screen and (max-width: 414px) and (min-width: 376px) {
  #oversea .container {
    max-width: 372.6px;
  }
  #oversea .body_content1 img {
    width: 372.6px;
    height: 223.56px;
  }
  #oversea .title {
    overflow: hidden;
  }

  #oversea .title img {
    height: 200px;
    width: auto;
  }

  #oversea .title p {
    font-size: 25px;
  }

  #oversea .body_content6 {
    grid-template-columns: 1fr;
  }

  #oversea .title_content6 {
    font-size: 20px;
  }
  #oversea .title_content1 {
    font-size: 20px;
  }
  #oversea .body_content6 {
    row-gap: 40px;
  }
}

/* ---nokia N9------- */
@media only screen and (max-width: 480px) and (min-width: 415px) {
  #oversea .container {
    max-width: 432px;
  }
  #oversea .body_content1 img {
    width: 432px;
    height: 259.2px;
  }
  #oversea .title {
    overflow: hidden;
  }

  #oversea .title img {
    height: 200px;
    width: auto;
  }

  #oversea .title p {
    font-size: 25px;
  }

  #oversea .body_content6 {
    grid-template-columns: 1fr;
  }

  #oversea .title_content6 {
    font-size: 20px;
  }
  #oversea .title_content1 {
    font-size: 20px;
  }
  #oversea .body_content6 {
    row-gap: 40px;
  }
}

/* ---nexus 7------- */
@media only screen and (max-width: 600px) and (min-width: 481px) {
  #oversea .container {
    max-width: 540px;
  }
  #oversea .body_content1 img {
    width: 540px;
    height: 324px;
  }
  #oversea .title {
    overflow: hidden;
  }

  #oversea .title img {
    height: 200px;
    width: auto;
  }

  #oversea .title p {
    font-size: 25px;
  }

  #oversea .body_content6 {
    grid-template-columns: 1fr;
  }

  #oversea .title_content6 {
    font-size: 20px;
  }
  #oversea .title_content1 {
    font-size: 20px;
  }
  #oversea .body_content6 {
    row-gap: 40px;
  }
}

/* ---ipad ------- */
@media only screen and (max-width: 768px) and (min-width: 601px) {
  #oversea .container {
    max-width: 691.2px;
  }
  #oversea .body_content1 img {
    width: 691.2px;
    height: 414.72px;
  }
  #oversea .title_content6 {
    font-size: 20px;
  }
  #oversea .title_content1 {
    font-size: 20px;
  }
}

/* ---ipad pro------- */
@media only screen and (max-width: 1024px) and (min-width: 769px) {
  #oversea .container {
    max-width: 921.6px;
  }
  #oversea .body_content1 img {
    width: 921.6px;
    height: 552.96px;
  }
  #oversea .title_content6 {
    font-size: 20px;
  }
  #oversea .title_content1 {
    font-size: 20px;
  }
}
